<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Drug Visualization</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}"-->
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FDA Drug Vis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/liuzcat9/fda-druglabel-desc">Github</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="my-3"></div>
<div class="row">
    <div class="container-fluid">
<div class="col-lg-12 text-left">
        {% block content %}
        {% endblock %}
    </div>
</div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>