{% extends "base.html" %}

{% block content %}
<section id="cover">
    <div class="row text-white">
        <div class="col-xl-12 mx-auto text-center p-4">
            <form class="form-horizontal justify-content-center" action="/res" method="POST">
                <h1 class="py-2 text-truncate">FDA Drug Visualization</h1>
                <div class="form-group">
                    <div class="col-lg">
                        <b>Purpose:</b>
                        <select id="purposeSelect" class="select2-container" style="text-align: left" name="purpose_res">
                            {% for purpose in purposes.keys() %}
                            <option value="{{ purpose }}">{{ purpose }}</option>
                            {% endfor %}
                        </select>

                        <b>Sort by field:</b>
                        <select id="fieldSelect" name="field_res">
                            {% for field in fields.keys() %}
                            <option value="{{ field }}">{{ field }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-custom">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="col-xl mx-auto text-center p-4">
    <h4>Choose a purpose and a field for drug label comparison.</h4><br/>
    <p>You will obtain a word cloud and a network visualization of topics and drug labels arranging information from
        all drugs in the purpose by the selected field content.</p>
    Note: This is not the complete set of all FDA-approved drugs. Drug labels visualized contain both OTC and Prescription drugs.
</div>

<script>
    $(document).ready(function() {
        $('.select2-container').select2();
    });
</script>

<!-- script to disable certain fields not searchable by file name, because not enough drugs were included-->
<script>
    var purposes = {{ purposes | tojson }}
    var reversed_fields = {{ reversed_fields | tojson }}
    var disabledDict = {{ disabled_field_dict | tojson }}

    $('select#purposeSelect').on('change', function() {
        $('select#fieldSelect option').prop('disabled', false);

        var disableOption = disabledDict[purposes[$(this).val()]];
        $.each(disableOption, function(i) {
            $('option[value="' + reversed_fields[disableOption[i]] + '"]').prop('disabled', 'disabled');
        });

        var first_valid_i = 0
        $('select#fieldSelect option').each(function(i) {
            if ($(this).prop('disabled') == false) {
                $('select#fieldSelect').val($(this).val())
            }
        });

    });

</script>

{% endblock %}