{% extends "base.html" %}

{% block content %}
<p>Type in comma-separated active and/or inactive ingredients of your drug to see what purpose it gets sorted into.</p>
<form name="myForm" action="/predict-purpose/result" method="post" onsubmit="return validateForm()">
    <div class="form-group">
        <label>Active Ingredients</label>
        <input name="active_ingredient" class="form-control">
    </div>
    <div class="form-group">
        <label>Inactive Ingredients</label>
        <input name="inactive_ingredient" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>

<br/>
<h5>About</h5>
<p>The current model loaded for the ingredients panel is a simple Dense-layered (<b>tensorflow/keras</b>) neural network
with ~91% accuracy. This was the highest accuracy thus far with some parameter tuning among different models.</p>
<p>The comprehensive average accuracies tested using 5-fold cross validation will be posted soon.</p>
<table>
    <thead>
        <tr>
            <th>Techniques</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Neural Network</td>
            <td>Linear Support Vector Classification</td>
            <td>Random Forest</td>
            <td>Multinomial Naive Bayes</td>
        </tr>
    </tbody>
</table>
<p>There were 64 categories of purpose drawn from the dataset that each had over 200 drugs attributed to them.
    This is certainly not a complete picture of all FDA-approved drugs or even FDA-approved drugs with labeled purposes.
</p>

<script>
    function validateForm() {
        var active = document.forms["myForm"]["active_ingredient"].value;
        var inactive = document.forms["myForm"]["inactive_ingredient"].value;
        if (active == "" && inactive == "") {
        alert("At least one ingredient must be filled out!");
        return false;
        }
    }
</script>

{% endblock %}